/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
}

.navbar {
  height: 12vh;
  width: 100vw;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
}

.nav-logo-text {
  letter-spacing: 0;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 2.2rem;
  }
}

.nav-logo-subtext {
  letter-spacing: normal;

  text-align: center;
  font-size: 1.2rem;
  text-transform: none;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }

}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  list-style: none;
}

.carousel-overlay {
  position: relative;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: visible;
  overflow-x: auto; /* Enable horizontal scrolling for images */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 5em;
  color: white;
  text-shadow: black 0 0 11px;
  cursor: pointer;
  z-index: 2; /* Ensure it's above the carousel images */
}

.carousel-button.left {
  left: 37vw; /* Adjust as needed */
}

.carousel-button.right {
  right: 34vw; /* Adjust as needed */
}

.carousel-image {
  height: 100%;
  margin: 0 5px; /* Spacing between images */
}

.hidden {
  visibility: hidden; /* Hide the middle image */
} 


.placeholder-circle p {
  color: white;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 400px;
  text-align: center;
}

.modal-close-button {
  margin:16px;
}

.modal-content video {
  z-index: 1000;
  position: fixed;
}

.modal-tour-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f8f8f8;
  width: 100%;
}

.location-modal {
  position: fixed;
  top: 10vh;
  right: 0;
  height: 100%;
  z-index: 10; /* Ensure the modal is above all other content */
  display: flex;
  color: white;
}

.location-modal-name {
  margin: 0;
  margin-bottom: 4%;
}

.location-modal-name, .location-modal-country {
  margin: 0;
}

.location-modal-content {
  border-radius: 5px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 2vh;
  right: 10px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.tour-control-button {
  z-index: 2; /* Below the placeholder but above other elements */
  border: none;
  background: white;
  padding: 10px;
  border-radius: 20px; /* Rounded corners for the buttons */
  cursor: pointer;
  /* Positioning will be handled by the buttonStyle function */
}

.sidebar {
  display: block;
  position: absolute;
  padding: 24px;
  top: 70vh;
  overflow: hidden;
  background-color: #1c1c1c;
  color: #f8f8f8;
  box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.5);
  z-index: 401;
  border-top: 1vw solid #FFC927;
  width: 95vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;

  @media screen and (min-width: 1024px) {
    flex: 1;
    display: flex;
    border-left: 1vw solid #FFC927;
    margin-top: 0;
    height: 90vh;
    border-top: unset;
    position: fixed;
    top: 11vh;
    right: 0;
    width: 35vw; 
    overflow-y: scroll;
    padding-left: 2rem;
    
  padding-left: 1vw;
  padding-right: 1vw;
  }
}

.main-content, .leaflet-container {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-shrink: 1;
  position: fixed;
  max-height: 70vh;
  z-index: 25;

  @media screen and (min-width: 1024px) {
    z-index: 20;
    max-height: unset;
    position: relative;
    border-top: unset;
  }
}

.preview-grid {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 8px;

  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

  @media screen and (min-width: 400px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))
  }
}

.carousel-image {
  display: none; /* Hide all images by default */
}

/* You'll dynamically assign a class to the visible image based on the index */
.carousel-image-visible {
  display: block; /* Show the image */
}


.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.thumbnail img,
.thumbnail video {
  width: auto;
  max-height: 23vh;
  cursor: pointer;
}

.thumbnail:has(img) {
  :hover {
    border: 1px solid #FFC927;
    transform: scale(1.1);
  }
}
.react-player-preview {
  :hover {
    border: 1px solid #FFC927;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px) brightness(0.5);
  max-height: 100vh;
  z-index: 1000;
}

.modal-content {
  position: relative;
  backdrop-filter: blur(5px) brightness(0.5);
  z-index: 1000;
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
  min-width: 95vw;

}

.modal-content img,
.modal-content video {
  position: relative;
  z-index: 1000;

  max-height: 70vh;
  width: auto;
  max-width: 95vw;

  @media screen and (min-width: 1024px) {
    max-width: 95vw;
    
  }
}

.modal-content video {
  min-width: 80vw;
}

.thumbnail video, .react-player__preview, .react-player-preview {
  max-width: fit-content;
  max-width: 150px;
  background-color: black;
  max-height: 25vh;
}

.modal-sidebar {
  background-color: #f8f8f8;
  padding-left: 1vw;
  z-index: 1000;
  position: relative;
}

.modal-sidebar-content {
  display: block;
  max-height: 25vh;
  float: right;

  p, h2 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 4px;
    margin-right: 2px;
  }

    div {
      text-align: center;
      margin-right: 12px;
    }
}

.modal-close-button {
  float: right;
  background-color: white;
  color: black; 
  border-radius: 4px;
  font-size: 1rem;
}

body.modal-open .leaflet-control-container {
  display: none;
}

.content {
  transition: height 0.3s; /* Add a transition for smooth animation */
  padding-bottom: 1vh;
}

.content.minimized {
  min-height: 22vh;
  max-height: 55vh;
}

.show-more-button {
  overflow: visible;
}

.show-more-button, .modal-close-button {
  padding: 6px 12px;
  text-align: center;
  font-family: 'Violense';
  font-weight: bold;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFC927; /* Set your desired background color */
  border-color: #FFC927;
  border-bottom: 4px solid darken(#FFC927, 30%);
  color: #1c1c1c;
  transition: height 0.3s; /* Add a transition for smooth animation */
  z-index: 999;
  text-align: center;
  display: flex;
  flex: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  @media screen and (min-width: 924px) {
    z-index: unset;
  }

  &:hover {
    background-color: darken(#FFC927, 10%);
    transform: scale(1.1);
  }
}

.content::after {
  display: none;
}
