body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, #root, .app {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mapboxgl-canvas-container {
  height: 80vh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.map-container {
  flex: 1;
  min-height: 0; /* to ensure it respects the parent container's height */
  position: relative;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 20vh; /* adjust if needed */
}

.tour-dates {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

